@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

.fondo-dark {
    background: #0E141F;
    font-family: 'Balsamiq Sans', cursive;
}

.not-a {
    text-decoration: none !important;
    color: black;
}

.not-a:hover {
    text-decoration: none !important;
    color: black;
}

.not-a:visited {
    text-decoration: none !important;
    color: black;
}



/* NAV */
.nav {
    background: #0E141F;
}

.focus {
    color: white;
    transition: 200ms;
}

.focus:hover {
    color: white;
    transform: scale(1.05, 1.05);
    background: none;
    color: #962096 !important;
}

/* Cabecera */
.cabecera {
    height: 100vh;
}

.title-name {
    font-family: 'Bebas Neue', cursive;
    /* 9C27B9 */
}

.fondo-cabecera {
    background-image: url("https://i.ibb.co/zhjT7m0/image-purple.png");
    background-size: cover;
}

/* skills */

.content {
    height: 105vh;
}

.text-shadow {
    text-shadow: 4px 4px 5px #858A8F;
}

.img-skills {
    height: 30%;
}

.padding {
    padding: 0px !important;
}